assistant/nodered/lib/flows/local-wake-intent.json
[{"id":"dfd1fbde.17871","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b887917d.d15","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"90819069.c6a8e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"bf2ff196.8d03e8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"db3ea448.1eb6c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"63b50e48.89dbb","type":"mqtt-broker","z":"","name":"default","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a99c30f4.c7f4e8","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/detected","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":154.99998474121094,"y":111.00000762939453,"wires":[["1bbbdc30.2a66e4","521b1cb4.5b4af4"]]},{"id":"68481dec.868e6c","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/voice-command/start-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":306,"y":386,"wires":[]},{"id":"1bbbdc30.2a66e4","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/stop-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":205.99998474121094,"y":219,"wires":[]},{"id":"a7a95b2a.e3e07","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/voice-command/command-stopped","qos":"2","datatype":"json","broker":"63b50e48.89dbb","x":216,"y":551,"wires":[["80e37049.27316","8edb44f5.e0705","86958123.3a839"]]},{"id":"80e37049.27316","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/speech-to-text/stop-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":251,"y":620.0000305175781,"wires":[]},{"id":"4da7cfa7.09a9f8","type":"debug","z":"dfd1fbde.17871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":449,"y":866.0000305175781,"wires":[]},{"id":"e6eb091d.c2fc58","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/speech-to-text/text-captured","qos":"2","datatype":"json","broker":"63b50e48.89dbb","x":169,"y":866.0000305175781,"wires":[["4da7cfa7.09a9f8","6949cf93.405048"]]},{"id":"a507e388.18edf8","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/speech-to-text/start-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":300,"y":465,"wires":[]},{"id":"8edb44f5.e0705","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/start-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":239,"y":700.0000305175781,"wires":[]},{"id":"1be24562.6df8d3","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/intent-recognition/recognize-intent","qos":"","retain":"","broker":"63b50e48.89dbb","x":234,"y":996,"wires":[]},{"id":"54cffc01.2a3fd4","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/intent-recognition/intent-recognized","qos":"2","datatype":"json","broker":"63b50e48.89dbb","x":202,"y":1228.0000610351562,"wires":[["ca51b003.461b18","77b6c70a.39c468"]]},{"id":"ca51b003.461b18","type":"debug","z":"dfd1fbde.17871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":482,"y":1228.0000610351562,"wires":[]},{"id":"a72a8a39.4cecd8","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/text-to-speech/say-text","qos":"","retain":"","broker":"63b50e48.89dbb","x":210,"y":1361.0000610351562,"wires":[]},{"id":"18b00aa6.2f6f35","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/audio-output/play-uri/wake-up","qos":"","retain":"","broker":"63b50e48.89dbb","x":501,"y":172,"wires":[]},{"id":"a8f60aa7.e54f3","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/audio-output/play-uri/command-recorded","qos":"","retain":"","broker":"63b50e48.89dbb","x":458.8333740234375,"y":766.0833740234375,"wires":[]},{"id":"f5251efc.c15598","type":"inject","z":"b887917d.d15","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.16665649414062,"y":78,"wires":[["b91db48d.f4b1e"]]},{"id":"7a0277d4.af41a8","type":"mqtt out","z":"b887917d.d15","name":"","topic":"rhasspy/audio-output/play-uri/my-test","qos":"","retain":"","broker":"63b50e48.89dbb","x":333.08331298828125,"y":189.08334350585938,"wires":[]},{"id":"bda106c9.1918c","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/audio-output/uri-played/wake-up","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":183.16665649414062,"y":308.3333282470703,"wires":[["68481dec.868e6c","a507e388.18edf8"]]},{"id":"570fb931.4b0e58","type":"inject","z":"90819069.c6a8e","name":"","topic":"","payload":"{ \"text\": \"this is a test\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.16664123535156,"y":71,"wires":[["4fa341cb.6e31e"]]},{"id":"4fa341cb.6e31e","type":"mqtt out","z":"90819069.c6a8e","name":"","topic":"rhasspy/text-to-speech/say-text","qos":"","retain":"","broker":"63b50e48.89dbb","x":266.16664123535156,"y":140.08334350585938,"wires":[]},{"id":"d14bcfef.8948f","type":"inject","z":"bf2ff196.8d03e8","name":"","topic":"","payload":"{ \"text\": \"what time is it\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.16665649414062,"y":75,"wires":[["5f914e45.18176"]]},{"id":"5f914e45.18176","type":"mqtt out","z":"bf2ff196.8d03e8","name":"","topic":"rhasspy/speech-to-text/text-captured","qos":"","retain":"","broker":"63b50e48.89dbb","x":287.16664123535156,"y":207.0833282470703,"wires":[]},{"id":"c55de4ed.fb0d98","type":"inject","z":"db3ea448.1eb6c","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.36666870117188,"y":70,"wires":[["cd685f6e.82e6d"]]},{"id":"cd685f6e.82e6d","type":"mqtt out","z":"db3ea448.1eb6c","name":"start-training","topic":"rhasspy/training/start-training","qos":"","retain":"","broker":"63b50e48.89dbb","x":238.36666870117188,"y":149.63333129882812,"wires":[]},{"id":"6234d89d.8ac69","type":"mqtt in","z":"db3ea448.1eb6c","name":"","topic":"rhasspy/training/training-complete","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":175.36666870117188,"y":297.1333312988281,"wires":[["ef5a2c91.0b9e3"]]},{"id":"fb7a02fc.c981b8","type":"mqtt out","z":"db3ea448.1eb6c","name":"","topic":"rhasspy/text-to-speech/say-text","qos":"","retain":"","broker":"63b50e48.89dbb","x":240.23333740234375,"y":416.23333740234375,"wires":[]},{"id":"ef5a2c91.0b9e3","type":"change","z":"db3ea448.1eb6c","name":"training complete","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"text\": \"training complete.\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":184.23333740234375,"y":353.23333740234375,"wires":[["fb7a02fc.c981b8"]]},{"id":"732294b.1dd5e6c","type":"mqtt in","z":"db3ea448.1eb6c","name":"","topic":"rhasspy/training/training-failed","qos":"2","datatype":"json","broker":"63b50e48.89dbb","x":169.23333740234375,"y":514.2333374023438,"wires":[["349c263b.9405a2"]]},{"id":"a3c55dba.fd83e8","type":"mqtt out","z":"db3ea448.1eb6c","name":"","topic":"rhasspy/text-to-speech/say-text","qos":"","retain":"","broker":"63b50e48.89dbb","x":244.10000610351562,"y":633.3333435058594,"wires":[]},{"id":"349c263b.9405a2","type":"function","z":"db3ea448.1eb6c","name":"training failed","func":"\nreturn {\n    \"payload\": {\n        \"text\": \"training failed because \" + msg.payload.error + \".\"\n    }\n}","outputs":1,"noerr":0,"x":192.36666870117188,"y":575.7666625976562,"wires":[["a3c55dba.fd83e8"]]},{"id":"457f880c.6018f","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/audio-output/play-uri/error","qos":"","retain":"","broker":"63b50e48.89dbb","x":438.90008544921875,"y":1132.3333129882812,"wires":[]},{"id":"6949cf93.405048","type":"switch","z":"dfd1fbde.17871","name":"empty text","property":"payload.text","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":186.36666870117188,"y":919.1000061035156,"wires":[["a047c263.7062f"],["1be24562.6df8d3"]]},{"id":"77b6c70a.39c468","type":"switch","z":"dfd1fbde.17871","name":"empty intent","property":"payload.intent.name","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":200.23333740234375,"y":1290.7334594726562,"wires":[["a047c263.7062f"],["a72a8a39.4cecd8"]]},{"id":"b91db48d.f4b1e","type":"function","z":"b887917d.d15","name":"beep_lo.wav","func":"let uri = \"file://\" + env.get(\"rhasspy_dir\") + \"/sounds/beep_lo.wav\"\nreturn {\n    \"payload\": {\n    \"uri\": uri\n    }\n}","outputs":1,"noerr":0,"x":191.83335876464844,"y":124.33334350585938,"wires":[["7a0277d4.af41a8"]]},{"id":"521b1cb4.5b4af4","type":"function","z":"dfd1fbde.17871","name":"beep_lo.wav","func":"let uri = \"file://\" + env.get(\"rhasspy_dir\") + \"/sounds/beep_lo.wav\"\nreturn {\n    \"payload\": {\n    \"uri\": uri\n    }\n}","outputs":1,"noerr":0,"x":473.16668701171875,"y":106.16666412353516,"wires":[["18b00aa6.2f6f35"]]},{"id":"86958123.3a839","type":"function","z":"dfd1fbde.17871","name":"beep_hi.wav","func":"let uri = \"file://\" + env.get(\"rhasspy_dir\") + \"/sounds/beep_hi.wav\"\nreturn {\n    \"payload\": {\n    \"uri\": uri\n    }\n}","outputs":1,"noerr":0,"x":144.1666717529297,"y":769.1666259765625,"wires":[["a8f60aa7.e54f3"]]},{"id":"a047c263.7062f","type":"function","z":"dfd1fbde.17871","name":"beep_error.wav","func":"let uri = \"file://\" + env.get(\"rhasspy_dir\") + \"/sounds/beep_error.wav\"\nreturn {\n    \"payload\": {\n    \"uri\": uri\n    }\n}","outputs":1,"noerr":0,"x":193.1666717529297,"y":1133.1668090820312,"wires":[["457f880c.6018f"]]},{"id":"7a90cd27.d6c144","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/detected","qos":"","retain":"","broker":"63b50e48.89dbb","x":294.83335876464844,"y":35.16667175292969,"wires":[]},{"id":"ab11d6c3.b6fa3","type":"inject","z":"dfd1fbde.17871","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":73.83334350585938,"y":36,"wires":[["7a90cd27.d6c144"]]},{"id":"21f09a05.133e26","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/voice-command/command-timeout","qos":"2","datatype":"json","broker":"63b50e48.89dbb","x":184.1666717529297,"y":1452.1666259765625,"wires":[["1ac0248d.5ddde3","f326e5c0.012418"]]},{"id":"1ac0248d.5ddde3","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/speech-to-text/stop-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":219.1666717529297,"y":1521.1666564941406,"wires":[]},{"id":"f326e5c0.012418","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/start-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":207.1666717529297,"y":1601.1666564941406,"wires":[]}]