run/nodered/lib/flows/docker-wake-intent.json
[{"id":"dfd1fbde.17871","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b887917d.d15","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"90819069.c6a8e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"bf2ff196.8d03e8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"63b50e48.89dbb","type":"mqtt-broker","z":"","name":"default","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a99c30f4.c7f4e8","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/detected","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":165.99998474121094,"y":67,"wires":[["ba5ff01b.40f5e","1bbbdc30.2a66e4"]]},{"id":"68481dec.868e6c","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/voice-command/start-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":306,"y":386,"wires":[]},{"id":"1bbbdc30.2a66e4","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/stop-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":245,"y":204,"wires":[]},{"id":"a7a95b2a.e3e07","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/voice-command/command-stopped","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":216,"y":551,"wires":[["80e37049.27316","8edb44f5.e0705","e3dda72.2d3f9d8"]]},{"id":"80e37049.27316","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/speech-to-text/stop-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":251,"y":620.0000305175781,"wires":[]},{"id":"4da7cfa7.09a9f8","type":"debug","z":"dfd1fbde.17871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":449,"y":866.0000305175781,"wires":[]},{"id":"e6eb091d.c2fc58","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/speech-to-text/text-captured","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":169,"y":866.0000305175781,"wires":[["4da7cfa7.09a9f8","1be24562.6df8d3"]]},{"id":"a507e388.18edf8","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/speech-to-text/start-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":300,"y":465,"wires":[]},{"id":"8edb44f5.e0705","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/wake-word/start-listening","qos":"","retain":"","broker":"63b50e48.89dbb","x":239,"y":700.0000305175781,"wires":[]},{"id":"1be24562.6df8d3","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/intent-recognition/recognize-intent","qos":"","retain":"","broker":"63b50e48.89dbb","x":249,"y":966.0000305175781,"wires":[]},{"id":"54cffc01.2a3fd4","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/intent-recognition/intent-recognized","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":200,"y":1080,"wires":[["ca51b003.461b18","a72a8a39.4cecd8"]]},{"id":"ca51b003.461b18","type":"debug","z":"dfd1fbde.17871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":1080,"wires":[]},{"id":"a72a8a39.4cecd8","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/text-to-speech/say-text","qos":"","retain":"","broker":"63b50e48.89dbb","x":210,"y":1180,"wires":[]},{"id":"18b00aa6.2f6f35","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/audio-output/play-uri/wake-up","qos":"","retain":"","broker":"63b50e48.89dbb","x":501,"y":134,"wires":[]},{"id":"a8f60aa7.e54f3","type":"mqtt out","z":"dfd1fbde.17871","name":"","topic":"rhasspy/audio-output/play-uri/command-recorded","qos":"","retain":"","broker":"63b50e48.89dbb","x":458.8333740234375,"y":766.0833740234375,"wires":[]},{"id":"f5251efc.c15598","type":"inject","z":"b887917d.d15","name":"","topic":"","payload":"http://data/wav/beep_lo.wav","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.16665649414062,"y":78,"wires":[["7a0277d4.af41a8"]]},{"id":"7a0277d4.af41a8","type":"mqtt out","z":"b887917d.d15","name":"","topic":"rhasspy/audio-output/play-uri","qos":"","retain":"","broker":"63b50e48.89dbb","x":313.08331298828125,"y":189.08334350585938,"wires":[]},{"id":"bda106c9.1918c","type":"mqtt in","z":"dfd1fbde.17871","name":"","topic":"rhasspy/audio-output/uri-played/wake-up","qos":"2","datatype":"auto","broker":"63b50e48.89dbb","x":183.16665649414062,"y":308.3333282470703,"wires":[["68481dec.868e6c","a507e388.18edf8"]]},{"id":"570fb931.4b0e58","type":"inject","z":"90819069.c6a8e","name":"","topic":"","payload":"{ \"text\": \"this is a test\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.16664123535156,"y":71,"wires":[["4fa341cb.6e31e"]]},{"id":"4fa341cb.6e31e","type":"mqtt out","z":"90819069.c6a8e","name":"","topic":"rhasspy/text-to-speech/say-text","qos":"","retain":"","broker":"63b50e48.89dbb","x":266.16664123535156,"y":140.08334350585938,"wires":[]},{"id":"d14bcfef.8948f","type":"inject","z":"bf2ff196.8d03e8","name":"","topic":"","payload":"{ \"text\": \"what time is it\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.16665649414062,"y":75,"wires":[["5f914e45.18176"]]},{"id":"5f914e45.18176","type":"mqtt out","z":"bf2ff196.8d03e8","name":"","topic":"rhasspy/speech-to-text/text-captured","qos":"","retain":"","broker":"63b50e48.89dbb","x":287.16664123535156,"y":207.0833282470703,"wires":[]},{"id":"e3dda72.2d3f9d8","type":"change","z":"dfd1fbde.17871","name":"beep_hi.wav","rules":[{"t":"set","p":"payload","pt":"msg","to":"http://data/wav/beep_hi.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":147.16664123535156,"y":766.0833129882812,"wires":[["a8f60aa7.e54f3"]]},{"id":"ba5ff01b.40f5e","type":"change","z":"dfd1fbde.17871","name":"beep_lo.wav","rules":[{"t":"set","p":"payload","pt":"msg","to":"http://data/wav/beep_lo.wav","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":211.0833282470703,"y":135.08334350585938,"wires":[["18b00aa6.2f6f35"]]}]