run/tts_test/nodered/flows.json
[{"id":"e77a16fe.c87cd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96e2a8d7.6bafc8","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c009f733.9cb09","type":"inject","z":"e77a16fe.c87cd8","name":"","topic":"","payload":"{\"text\":\"this is a test.\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["bf0551a4.b86f58"]]},{"id":"bf0551a4.b86f58","type":"mqtt out","z":"e77a16fe.c87cd8","name":"say-text","topic":"rhasspy/text-to-speech/say-text/test","qos":"","retain":"","broker":"96e2a8d7.6bafc8","x":210,"y":180,"wires":[]},{"id":"9b651631.ed7438","type":"mqtt in","z":"e77a16fe.c87cd8","name":"uri-played","topic":"rhasspy/audio-output/uri-played/test","qos":"2","datatype":"auto","broker":"96e2a8d7.6bafc8","x":130,"y":340,"wires":[["39892f2a.ddf128"]]},{"id":"39892f2a.ddf128","type":"debug","z":"e77a16fe.c87cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":440,"wires":[]}]